@import "modules/reset";
@import "var/fonts";
@import "var/var";
@import "modules/slick";
@import "modules/jqueryfancybox";

html {
  box-sizing: border-box;
}
* {
  /*завжди пишеться в код  */
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
}
*::after,
*::before {
  box-sizing: border-box;
  /* щоб правилтно наслідувались властивості від батьків */
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  /* щоб наслідувався колір зсилок від батьків*/
  text-decoration: none;
  /* підкреслення */
  display: inline-block;
}
.big-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
body {
  color: #544837;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 17px;
}
.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}
.logo__icon {
  width: 32px;
}
.logo__text-icon {
  width: 143px;
}
.header__menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 53px;
}
.links__items {
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 23px;
  color: #2f281e;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
.links__item:hover {
  color: $gold-buton;
}
.links__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
}
.link__in:hover {
  background-color: $input;
}
.link__in {
  padding: 11px 25px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: #173a56;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
}
.link__up:hover {
  color: $gold-buton;
  background-color: $white;
}
.link__up {
  padding: 11px 25px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  background-color: $gold-buton;
  border-radius: 4px;
  border: 1px solid $gold-buton;
  margin-right: 20px;
}
.hero__container {
  padding-top: 50px;
  margin-bottom: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__text-wrapper {
  max-width: 518px;
}
.hero__text-title {
  color: #2f281e;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2; /* 122.727% */
  margin-bottom: 30px;
}
.hero__text-text {
  color: #544837;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  max-width: 458px;
  margin-bottom: 45px;
}
.hero__butons-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 30px;
}
.hero__button {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  background-color: $gold-buton;
  padding: 15px 41px;
  border-radius: 4px;
  border: 1px solid $gold-buton;
  cursor: pointer;
}
.hero__button:hover {
  color: $gold-buton;
  background-color: #fff;
}
.hero__video {
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}
.video {
  color: $gold-buton;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  text-decoration: underline;
}
.tools {
  position: relative;
}
.tools::after {
  content: "";
  position: absolute;
  background-image: url(../images/design-fon.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  top: 20px;
  min-height: 389px;
  min-width: 100%;
}
.title {
  color: #2f281e;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

.for-tools {
  text-align: center;
  max-width: 539px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}
.tool__contant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 45px;
}
.tool__item {
  width: 240px;
}
.svg-watch-arrow-dims {
  width: 20px;
}
.svg-wesign-arrow-dims {
  height: 18px;
  background-color: $fiolet-icon;
}

.svg {
  padding: 17px 19px 15px;
  border-radius: 19px;
  background-color: $fiolet-icon;
  display: inline-block;
}
