@import "modules/reset";
@import "var/fonts";
@import "var/var";
@import "modules/slick";
@import "modules/jqueryfancybox";

html {
  box-sizing: border-box;
}
* {
  /*завжди пишеться в код  */
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
}
*::after,
*::before {
  box-sizing: border-box;
  /* щоб правилтно наслідувались властивості від батьків */
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  /* щоб наслідувався колір зсилок від батьків*/
  text-decoration: none;
  /* підкреслення */
  display: inline-block;
}
.big-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
body {
  color: #544837;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 17px;
}
.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}
.logo__icon {
  width: 32px;
}
.logo__text-icon {
  width: 143px;
}
.header__menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 53px;
}
.links__items {
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 23px;
  color: #2f281e;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
.links__item:hover {
  color: $gold-buton;
}
.links__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
}
.link__in:hover {
  background-color: $input;
}
.link__in {
  padding: 11px 25px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: #173a56;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
}
.link__up:hover {
  color: $gold-buton;
  background-color: $white;
}
.link__up {
  padding: 11px 25px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  background-color: $gold-buton;
  border-radius: 4px;
  border: 1px solid $gold-buton;
  margin-right: 20px;
}
.hero__container {
  padding-top: 50px;
  margin-bottom: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__text-wrapper {
  max-width: 518px;
}
.hero__text-title {
  color: #2f281e;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2; /* 122.727% */
  margin-bottom: 30px;
}
.hero__text-text {
  color: #544837;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  max-width: 458px;
  margin-bottom: 45px;
}
.hero__butons-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 30px;
}
.hero__button {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  background-color: $gold-buton;
  padding: 15px 41px;
  border-radius: 4px;
  border: 1px solid $gold-buton;
  cursor: pointer;
}
.hero__button:hover {
  color: $gold-buton;
  background-color: #fff;
}
.hero__video {
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}
.video {
  color: $gold-buton;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  text-decoration: underline;
}
.tools {
  position: relative;
  padding-bottom: 90px;
  margin-bottom: 120px;
}
.tools::after {
  content: "";
  position: absolute;
  background-image: url(../images/design-fon.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  bottom: 0;
  min-height: 389px;
  min-width: 100%;
  z-index: -1;
}
.title {
  color: #2f281e;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

.for-tools {
  text-align: center;
  max-width: 539px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}
.tool__contant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 45px;
  margin-bottom: 60px;
}
.tool__item {
  width: 240px;
}
.svg-watch-arrow-dims {
  width: 20px;
}
.svg-wesign-arrow-dims,
.svg-wesign-arrow2-dims,
.svg-wesign-arrow3-dims,
.svg-wesign-arrow4-dims {
  height: 18px;
}

.svg {
  padding: 17px 19px 15px;
  border-radius: 19px;
  display: inline-block;
  margin-bottom: 30px;
}
.tool__title {
  color: #2f281e;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 13px;
}
.tool__text {
  color: #544837;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
.tool__button {
  padding: 15px 34px;
  background-color: $gold-buton;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  max-width: 175px;
  margin-left: auto;
  margin-right: auto;
}
.design__pro {
  margin-bottom: 22px;
}
.design__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 100px;
}
.design__contant {
  max-width: 486px;
}
.design__text {
  margin-bottom: 30px;
}
.design__title {
  color: #2f281e;
  font-weight: 700;
  margin-bottom: 12px;
}
.product {
  margin-bottom: 100px;
}
.marketers {
  margin-bottom: 150px;
}
.product__wrapper {
  display: flex;
  column-gap: 30px;
  align-items: start;
}
.product__wrapper svg {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
.team {
  background-image: url(../images/need-fon.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 835px;
  margin-bottom: 30px;
}
.team__item-img {
  border-radius: 50px;
  width: 98px;
  height: 98px;
  overflow: hidden;
  object-fit: cover;
}
.team__inner {
  padding: 230px 0 380px;
  position: relative;
}
.team__box {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
}
.team__title {
  margin-bottom: 22px;
}
.team__text {
  color: #567592;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.6; /* 162.5% */
  margin-bottom: 45px;
}
.team__button {
  padding: 15px 30px;
  background-color: $gold-buton;
  border-radius: 4px;
}
.team__item-text {
  background-color: #fff;
  padding: 14px 20px 15px;
  color: #2f281e;
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
  border-radius: 50px;
  border-radius: 26.5px;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  position: absolute;
  width: 281px;
  top: -30px;
  right: 75px;
  white-space: nowrap;
}
.team__item {
  position: absolute;
  width: 98px;
  height: 98px;
}
.team__item--1 {
  right: 95px;
  top: 157px;
}
.team__item--3 {
  left: 210px;
  bottom: 223px;
}
.team__item--4 {
  right: 300px;
  bottom: 135px;
}
.team__item--5 {
  right: 0px;
  bottom: 257px;
}
.team__item--2 {
  left: 0;
  top: 223px;
}
.team__item-text.team__item-text--left {
  top: -41px;
  right: auto;
  left: 62px;
}

.team__item-text--right::before,
.team__item-text--right::after,
.team__item-text--left::before,
.team__item-text--left::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
.team__item-text--right::after,
.team__item-text--left::after {
  width: 17px;
  height: 17px;
  bottom: -8px;
  right: 30px;
}
.team__item-text--right::before,
.team__item-text--left::before {
  width: 9px;
  height: 9px;
  bottom: -20px;
  right: 9px;
}

.team__item-text--left::before {
  left: 9px;
  right: auto;
}
.team__item-text--left::after {
  left: 30px;
  right: auto;
}
.strateg__pretitle {
  padding-top: 9px;
  padding-bottom: 55px;
  color: #544837;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.slide {
  max-width: 348px;
  margin-right: 40px;
}
.slide__img {
  margin-bottom: 25px;
  border-radius: 8px 8px 0 0;
  width: 348px;
  height: 185px;
  object-fit: cover;
}
.slide__text span {
  font-weight: 600;
  margin-bottom: 12px;
}
.slide__title {
  color: #2f281e;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  padding-bottom: 39px;
  margin-bottom: 45px;
  max-width: 294px;
}
.slide__title:hover {
  color: #f90;
}
.slick-dots {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: none;
  background-color: #efefef;
}
.slick-active button {
  background-color: #f90;
}
.strateg {
  margin-bottom: 120px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 105px;
  padding-bottom: 95px;
  border-top: 1px solid #bcd0e5;
}
.footer__info {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
.footer__rule {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
.footer__form {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
.form__phone {
  color: #544837;
  width: 330px;
  height: 48px;
  padding: 10px 15px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 21px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  outline: none;
}
.form__phone::placeholder {
  color: #bcd0e5;
}
.form__button {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 15px;
  background-color: #f90;
  display: inline-block;
  margin-right: auto;
  border: none;
}
.menu__btn {
  display: none;
}

@media (max-width: 850px) {
  .header__menu-links {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .header__menu {
    flex-wrap: wrap;
  }
  .links__items {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    margin-top: 150px;
    transform: translateY(300%);
  }
  .links__items.links__items--active {
    transform: translateY(0%);
  }
  .links__item {
    display: block;
    font-size: 20px;

    margin: 0 auto;
    padding: 0 10px;
  }
  .link__in {
    margin-right: 30px;
  }
  .menu__btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
  }
  .menu__btn span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #2f281e;
  }
  .menu__btn::after,
  .menu__btn::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #2f281e;
    left: 0;
  }
  .menu__btn::before {
    top: 0;
  }
  .menu__btn::after {
    bottom: 0;
  }
  .links__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
