<header class="header">
  <div class="container">
    <div class="header__menu">
      <div class="logo__wrapper">
        <a href="#" class="logo__link">
          <img src="../images/sprite.svg#logo-icon" alt="" class="logo__icon" />
          <img
            src="../images/sprite.svg#logo-text"
            alt=""
            class="logo__text-icon"
          />
        </a>
      </div>
      <div class="header__menu-links">
        <div class="links__items">
          <a href="#" class="links__item">Product</a>
          <a href="#" class="links__item">Customers</a>
          <a href="#" class="links__item">Pricng</a>
          <a href="#" class="links__item">Resource</a>
        </div>
        <div class="links__buttons">
          <a href="#" class="link__in">Sign In</a>
          <a href="#" class="link__up">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</header>
